body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
  0%,100%{
    transform: translatey(0);
  }
   50%{
    transform: translatey(-200px);
  }
}